.App {
  text-align: center;
}

.about-h3 {
  color: blueviolet;
}

/*.nav {
  background-color: black;
  color: white !important;
}*/

.dev {
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  padding: 0.5rem 0;
}

.dev span {
  color: rgb(17, 193, 184);
}



.Footer {
  background-color: black;
  color: aliceblue;
  padding: 2rem 0;
  margin-top: 30rem;

}
.ft-1 h4{
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  padding: 0.5rem 0;
}

.ft-1 span {
  color: rgb(17, 193, 184);
}

.ft-1 p {
  padding: 0rem 5rem 0.8rem 0;
  font-weight: 500;
}

.footer-icons i{
    padding: 0.4rem 0.5rem;
    background: white;
    color: black;
    margin: 0 0.5rem;
    border-radius: 50%;
}

.footer-icons i:hover{
    background: rgb(17, 193, 184);
    color: white;
    transition: 0.6s;
    cursor: pointer;
}  

.Footer h5{
  color: rgb(17, 193, 184);
}

.ft-2 ul {
  list-style: none;
  padding: 0;
}

.ft-2 ul li {
  padding: 0.3rem 0;
  font-weight: 500;
}

.ft-2 ul a {
  text-decoration: none;
  color: white;
  font-size: 1.06rem;
}

.ft-3 p {
  font-weight: 500;
  padding: 0.1rem 0;
  font-size: 1.06rem;
}

.ft-3 i {
 padding-right: 0.5rem;
}

.Last-Footer {
  background: rgb(17, 193, 184);
  text-align: center;
  padding: 0.3rem 0;
}

.Last-Footer p {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 500;
}





